.root {
	flex-grow: 1;
}
.header-grid {
	display: flex;
	height: 110vh;
	background-image: url('img/hero.jpg');
	background-position: 0px 0px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	top: 0;
	overflow: hidden;
	max-height: 900px;
}
.headerH1 {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: #fff;
	margin-top: 150px;
	padding-left: 60px;
	padding-right: 60px;
	line-height: 1.15;
	font-size: 67px;
}
.description {
	padding: 0 60px;
	max-width: 700px;
	color: #fff;
	font-size: 24px;
	line-height: 35px;
}

@media screen and (max-width: 769px) {
	.header-grid {
		height: 55vh;
	}
	.headerH1 {
		font-size: 36px;
		margin-top: 65px;
		padding-left: 20px;
		padding-right: 10px;
	}
	.skills {
		text-align: center;
	}
	.description {
		font-size: 20px;
		line-height: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
